<!DOCTYPE html>
<html lang="es">
<head>
	<title>Biembenido</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
	<header>
		<h1>Biembenido</h1>
	</header>
	<%= yield %>
</body>
</html>